:host {
  display: block;
  min-height: 100vh;
 // background: #111827;
 // color: #f9fafb;
}

.app-main {
  min-height: calc(100vh - 57px);
  padding: 24px;
  //background: #111827;
}

/*Brand


#FFC94B amarelo
#D8D8D8 cinza
#AE3E09 marrom
*/