.pessoas-table thead th {
  background: linear-gradient(to right, #111827, #1f2937);
  color: #FFC94B;
  border-bottom: 1px solid #AE3E09;
  font-weight: 600
}
.pessoas-table {
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}